/* This will cover the entire screen */
.loader-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Transparent black */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Make sure the loader stays above all content */
  }
  
  .loader {
    border: 4px solid #f3f3f3; /* Lighter grey, thinner border */
    border-top: 4px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 30px;  /* Smaller width */
    height: 30px;  /* Smaller height */
    animation: spin 2s linear infinite;
  }
  
  /* Animation for the spinning effect */
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  