.manage-books-container {
    margin: 20px auto;
    max-width: 1200px;
    text-align: center;
  }
  
  .title {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .manage-user-link {
    color: #007bff;
    text-decoration: none;
    margin-bottom: 20px;
    display: inline-block;
  }
  
  .no-books-message {
    font-size: 1.2rem;
    color: #666;
  }
  
  .books-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
  }
  
  .books-table th, .books-table td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .books-table th {
    background-color: transparent;
    font-weight: bold;
    color:black
  }
  
  .remove-button,
  .update-button {
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
  }
  
  .remove-button {
    background-color: red;
    margin-right: 10px;
  }
  
  .update-button {
    background-color: blue;
  }
  
  .popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .popup-form {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .popup-title {
    margin-bottom: 15px;
  }
  
  .form-label {
    display: block;
    margin-bottom: 10px;
  }
  
  .form-input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
  }
  
  .form-buttons {
    display: flex;
    justify-content: space-between;
  }
  
  .save-button {
    padding: 10px 20px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 4px;
  }
  
  .cancel-button {
    padding: 10px 20px;
    background-color: gray;
    color: white;
    border: none;
    border-radius: 4px;
  }
  